# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 57ecc90e0c50b733b996400f23dbc4232ec4e489f6c647ebf0f29b45b21e2d420840786cd6d4861d478272a2aed6908aca648dc3ab24ba72f7d13715ed9a5ead

test:
  secret_key_base: dbf7d551c70a43565fcb58291489986c31e5f97240c48428a5102787ff87fbf65b9d974f5ef58c2396fc2051741433e8489884c813272629e68c71477de3d115

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
